<html>
	<body>
		<div style="float:left; min-height: 300px; width:100%; font-size:14px; line-height:1.42857143; color:#333; background-color:#E3E3E3" align="center">
			<div style="margin-left: auto; margin-right: auto; width: 600px;">
			<div style="margin-right: -15px; margin-left: -15px;">
									<div style="position: relative; width: 100%; min-height: 1px; float: left; background-color: #FFFFFF;">
										<div style="display: flex; flex-direction: row;"><div style="background-color: #007BC2; height: 7px; width: 20%;"></div> <div style="background-color: #F27324; height: 7px; width: 80%;"></div></div>
				<div style="float: left; height: 60px; width: 35%; padding-top: 15px;"> 
										<img style="width: 150px;" src=""/> 
				</div>
				<div align="right" style="float:left; width: 65%; padding-top: 15px; font-size: 12px;">
					<div style="padding-right:15px;">
						
					</div>
				</div>
				<div style="float: left; width: 100%;" align="left"; padding-right: 15px; padding-left: 15px;">
					<div style="margin-top: 40px; margin-bottom: 40px; padding-left:15px; padding-right:15px;">
						
                        <h4 style="font-size: 21px; font-weight: 400; color: #e77817;"><b></b></h4>
						<div style="margin-top: 30px; margin-bottom: 30px; font-size: 15px; color: #000000; padding-left: 6px;">{{{body}}}</div> 
					</div> 
				</div>
				</div>
				<div style="position: relative; width: 100%; padding-bottom:15px; min-height: 1px; float: left; background-color: #F2F2F2;">
				<div style="float:left; width: 35%; padding-top: 15px; padding-bottom: 15px;"> 
											<img style="width: 150px;" src=""/>
				</div>
										<div style="float:left; width: 65%; color: #959595; font-size: 10px; text-align:right; padding-top: 10px;">
				</div>
				</div>
			</div>   
			</div>
		</div>
	</body>
</html>